@import '../../config/SassVariables.scss';

.home-page {
    width: 100%;
    padding-top: 120px;
    background-position: center;
    background-size: cover;
    background-color: #888;
    .content {
        padding: 1rem;
        max-width: 42rem;
        margin: 14% auto auto;
        %content_shared {
            color: $text_color_on_image_backgrounds;
            text-align: center;
            text-shadow: 0px 0px 4px #000000;
        }
        h1 {
            @extend %content_shared;
            font-size: 2.5rem;
        }
        p {
            @extend %content_shared;
            font-size: 1.25rem;
            line-height: 2rem;
            font-weight: 400;
        }
        a {
            border-radius: 4px;
            text-decoration: none;
            padding: .2rem .5rem;
            background: $primary_color;
            color: $secondary_color;
            text-shadow: none;
        }
        .promo-buttons {
            margin-top: 22px;
            text-align: center;
            a {
                background: $primary_color;
                color: rgba($secondary_color, 0.8);
                margin-right: 12px;
                padding: 12px 22px;
                font-weight: 700;
            }
            .ghost {
                background: transparent;
                color: $primary_color;
                margin-right: 12px;
                padding: 9px 18px;
                font-weight: 700;
                border: 3px solid $primary_color;
                text-shadow: 0px 0px 2px #000000;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .home-page {
        .content {
            margin: 10% auto auto;
        }
    }
}