.top-nav {
    ul {
        li {
            float: left;
            list-style: none;
            padding-left: 30px;
            a {
                text-decoration: none;
                font-weight: 600;
                font-size: 17px;
                color: rgba(255,255,255,0.7);
                &:hover {
                    text-decoration: none;
                }
            }
            .active {
                color: rgba(255,255,255, 1);
                font-weight: 700;
            }
        }
    }
}