$primary_color: #FFFFFF;
$secondary_color: #000000;
$text_color: #000000;
$text_color_on_image_backgrounds: #FFFFFF;

$root_font_size: 16px;

// Variables for screen width 768 and below
$root_font_size_mobile_768: 14px;
