.contact-form {
    .info { grid-area: info; }
    .name { grid-area: name; }
    .phone { grid-area: phone; }
    .email { grid-area: email; }
    .message { grid-area: message; }
    .action { grid-area: action; }
    width: 100%;
    display: grid;
    grid-template-areas:
    'info info'
    'name phone'
    'email email'
    'message message'
    'action action';
    grid-gap: 1.8rem;
    label {
        width: 100%;
        margin-bottom: .8rem;
        display: block;
    }
    %input_shared {
        width: 100%;
        display: block;
        border-radius: 6px;
        border: 0.5px solid #888;
    }
    input {
        @extend %input_shared;
        height: 2.6rem;
    }
    textarea {
        @extend %input_shared;
        height: 12rem;
    }
    .action {
        input {
            color: #FFF;
            font-weight: 600;
            background: #000;
            font-size: 1.7rem;
            width: 200px;
            margin: auto;
        }
    }
}