.social-links {
    a {
        margin-right: .6rem;
        img {
            width: 2.4rem;
            height: auto;
        }
        &:first-child {
            margin-left: .6rem;
        }
    }
}