@import '../../config/SassVariables.scss';

.menu-page {
    .page-body {
        h1 {
            text-align: left;
        }
        .content {
            text-align: left;
        }
        .order-section {
            margin: 40px 0 0;
            width: 100%;
            display: grid;
            grid-template-areas:
            'categories categories'
            'menu form';
            grid-gap: 1.8rem;
            .menu { 
                grid-area: menu;
            }
            .order-form { 
                grid-area: form;
            }
            .categories {
                grid-area: categories;
                width: 100%;
                .category {
                    float: left;
                    margin: 0 1rem 1rem 0;
                    box-shadow: -2px 2px 5px -1px rgba(0,0,0,0.4);
                    border: 0.5px solid #EEE;
                    height: 2.5rem;
                    input {
                        margin-left: .6rem;
                        position: absolute;
                        display: none;
                        &:checked + label {
                            background-image: url('../../images/check-circle-outline.svg');
                        }
                    }
                    label {
                        padding: .7rem 1rem 1rem 2rem;
                        height: 2.5rem;
                        width: 100%;
                        display: inline-block;
                        background-image: url('../../images/check-circle-outline-blank.svg');
                        background-repeat: no-repeat;
                        background-position: .5rem center;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .menu-page {
        .page-body {
            .order-section {
                grid-template-areas:
                'form'
                'categories'
                'menu';
                .menu { 
                    width: 100%;
                }
                .order-form { 
                    width: 100%;
                }
                .categories {
                    width: 100%;
                }
            }
        }
    }
}